<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ed_talk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_register_hero"
        android:label="@string/ED_Talk"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ed_Talk">
        <activity android:name=".AdminActivity"></activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Ed_Talk.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".IntroSlider.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddInterviewExperience.AddInterviewExperienceActivity" />
        <activity android:name=".AddInterviewExperience.UploadImage" />
        <activity android:name=".ViewInterviewExperiences.UserProfileActivity" />
        <activity android:name=".ViewInterviewExperiences.InterviewExperienceActivity" />
    </application>

</manifest>